
    
    <footer class="container flex flex-wrap justify-evenly items-center mx-auto my-8">
        <p class="text-gray-700 pl-4">Sample Page by: SAIROV | Diseñador Web &copy; 2021 - Todos los derechos reservados</p>
        <nav class="flex flex-1 justify-end mt-5 pr-4 md:mt-0">
            <a class="flex items-center font-medium text-gray-600 hover:text-gray-800 transition duration-300 ease-in" href="https://linkedin.com/in/pablo-martin-rovira"><span class="iconify h-4 w-4 text-gray-400 mx-2" data-icon="entypo-social:linkedin" data-inline="false"></span>linkedin</a>
            <a class="flex items-center font-medium text-gray-600 hover:text-gray-800 transition duration-300 ease-in" href="https://github.com/sairov"><span class="iconify h-4 w-4 text-gray-400 mx-2" <span class="iconify" data-icon="cib:github" data-inline="false"></span>GitHub</a>
    </footer>

    <script src="/assets/main.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </body>
</html>