<header class="text-center md:text-left md:flex justify-between p-8 bg-teal-700 text-white shadow-md">
    <div class="flex flex-col">
        <h1 class="font-logo mx-4 text-5xl">PROJECTS BILLBOARD</h1>
        <P class="-mt-4 mx-4 text-sm font-sans">Cartelera de Proyectos</P>
    </div>
</header>