<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TOPFLY Mar del Plata - Academía de Aviación | Trabajos de nuestros Alumnos">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;1,500&display=swap" rel="stylesheet"> 
    
</head>
<body>