<header class="text-center md:text-left md:flex justify-between p-8 bg-red-700 text-white">
    <div>
        <a class="mx-4 text-lg hover:text-gray-800 ease duration-300" href="tel:+540223155257053 ">+54 (0223) 155 257 053 </a>
        <a class="mx-4 text-lg hover:text-gray-800 ease duration-300" href="mailto:capacitacion@topflymdp.com">capacitacion@topflymdp.com</a>
    </div>
    <div class="font-bold">
        <a class="border-b-2 border-red-700 hover:border-white pb-1 ease duration-500" href="http://topflymdp.com/elearning/">PLATAFORMA</a> / 
        <a class="border-b-2 border-red-700 hover:border-white pb-1 ease duration-500" href="http://topfly.com.ar/">AULA VIRTUAL</a>
    </div>
</header>