---
title: PROJECTS BILLBOARD | DEJA TU HUELLA
layout: layouts/base.njk
---
<main class="container mx-auto px-0 md:px-4  my-5 border-b-4 pb-4">

        <div class="max-w-screen-xl pb-10 my-16 border-b-4 border-gray-500  mx-auto px-4 sm:px-0">
            <div class="text-center lg:text-left">
                <p class="text-md leading-6 text-gray-400 font-semibold tracking-wide uppercase">Proyectos</p>
                <h3 class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-800 sm:text-4xl sm:leading-10">
                    Trabajos de nuestros egresados
                </h3>
                <p class="mt-4 font-sans max-w-4xl text-md md:text-lg leading-7 text-gray-700 ">
                    Queremos que todos tengan las mismas oportunidades, por eso abrimos esta sección para que nuestros alumnos puedan dejar su huella y mostrar los conocientos adquiridos.
                </p>
            </div>
        </div>  
    
    <section class="listado md:grid-cols-2 lg:grid-cols-2">
    {% for alumno in data.alumnos|sort(attribute='apellido') %}
        <div class="alumno md:flex bg-white rounded-lg p-6 md:items-center">
            <img class="h-20 w-20 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6 self-start" src="{{alumno.foto}}" alt="Foto de alumno {{alumno.nombre}} {{alumno.apellido}}">
            <div class="text-center md:text-left w-4/5 mx-auto">
                <div class="flex justify-between items-center">
                    <h3 class="text-xl">{{alumno.nombre}} {{alumno.apellido}}</h3>
                    <h6 class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{alumno.nota}}</h6>
                </div>
                <h4 class="text-gray-600 text-md pb-2 font-semibold uppercase my-2">{{alumno.curso}}</h4>
                <div class="flex flex-wrap items-center pb-2 justify-around md:justify-start lg:justify-around">
                    <a href="#"><span class="iconify inline-block h-8 w-8 mr-2 text-gray-500" data-icon="carbon:logo-linkedin" data-inline="false"></span>linkedin</a>
                    <a href="mailto:{{alumno.email}}"><span class="iconify inline-block h-6 w-6 mr-2 text-gray-500" data-icon="ri:send-plane-fill" data-inline="false"></span>Contacto</a>
                </div>
                <div class="border-t border-gray-200 shadow-md pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5 mt-2">
                <div class="w-0 flex-1 flex items-center">
                    <!-- Heroicon name: paper-clip -->
                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                    </svg>
                    <span class="ml-2 flex-1 w-0 truncate">
                    {{alumno.trabajo}}
                    </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                    <a href="{{alumno.trabajo | url}}" class="font-medium text-indigo-600 hover:text-indigo-500 transition duration-150 ease-in-out">
                    Descargar
                    </a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
    </main>